h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

img{
  float: center;
  padding: 0;
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 30%;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
}

#container{
  width:580;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  margin: 0;
  padding: 0;
  display: inline;
<<<<<<< HEAD
  float: left;
=======
  float:left;
>>>>>>> 66b016d8330943eab70d6851a962def20fb0aded
  width: 20%;
}

#nav a:link, #nav a:visited {
  color: #000000;
  background-color: #d7dcd9;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  padding: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d7dcd9;
}

li {
    float: left;
    position: sticky;
    display: inline-block;
}

#video {
  padding: 10px;
  width: "568";
  height: "320";
  float: center;
  object-fit: fill;
}

#link{
  text-decoration: none;
  color:#009933;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px;
    border-color: #000000;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
  background: #FFFFFF;
  color: #FF0000;
}

.social {
  align-items: center;
  float: center;
  margin: 0 auto;
}

.footer {
  font-style: italic;
  font-size: 12px;
}
