
h1 {
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

img{
  float: inherit;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
}

h3{
  margin-top: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}

#searchbar {
  display: none;
}

#nav li {
  margin: 0;
  padding: 0;
  display: inline;
}

#nav a:link, #nav a:visited {
  color: #ffffff;
  background-color: #0C60EC;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  padding: 5px;
  border-bottom:1px solid white;
}


#nav a:hover, .navigation a:active{
  color: #b8c1bb;
}


ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0C60EC;
    font-size: 16px;
}

li {
    position: sticky;
    display: inline-block;
}



.videoWrapper{
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link{
  text-decoration: none;
  color:#009933;
}

.email{
  color:#0C60EC;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom:20px;
}

.social{
  width: 20%;
}

.photo_aside {
 width: 100%;
float:left;
}

.socialimage {
  width: 30%;
}

.team{
  display: block;
  width: 95%;
  margin: auto;
}

.team_pic{
  width:15%;
  min-width:200px;
  margin:auto;
}

.team_text{
  width:100%;
  margin:auto;
}


.left{
  float: left;
  padding: 0 20px 20px 0;
  width: 100%;
  height: 100%;
}

.usercontent{
  display: flex;
  flex-direction:row;
  padding-top: 20px;
}

.usertext{
  margin-top:10px;
  text-align: left;
}


.newsRelease img{
width: 100%
}

/* videoplayer css stuuuuff */

#video_player {
  display: table; line-height: 0;
  font-size: 0; background: #000;
  max-width: 1000px;
  margin: 0 auto;
}
#video_container {
  position: absolute;
}

#video_player div, #video_player figcaption {
  display: table-cell;
  vertical-align: top;
}
#video_container video {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
}
#video_player figcaption { width: 25%; }
#video_player figcaption a { display: block; }
#video_player figcaption a {
  opacity: .5;
  transition: 1s opacity;
}
#video_player figcaption a img, figure video {
  width: 100%; height: auto;
}
#video_player figcaption a.currentvid, #video_player
figcaption a:hover, #video_player figcaption a:focus { opacity: 1; }
/*@media (max-width: 700px) {
  #video_player video, #video_player figcaption {
    display: table-row;
  }
#video_container { padding-top: 56.25%; }
#video_player figcaption a {
  display: inline-block; width: 33.33%;
}*/

.footer {
  font-style: italic;
  font-size: 12px;
}

#container{
  width: auto;
}


#intro{
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

@media screen and (min-width:400px) {

 #nav {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: baseline;
  }

  #nav a:link{
  border-bottom: none;
  }

  #nav li{
    padding-bottom: 5px;
  }

  /* .menu-trigger{
    order: 1;
    font-size: 1.75em;
    width: 2em;
    display: block;
    text-decoration: none;
    color:#009933;
  } */


}

@media screen and (min-width: 600px) {

  #intro{
    max-width: 50%;
    margin: auto;
    padding-top: 10px;
  }

  #nav a{
    border-bottom: none;
  }
  #nav a:link, #nav a:visited{
    padding:0;
  }


  /* .menu-trigger{
    display: none;
    font-size: 1.75em;
    width: 2em;
  } */

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "a b";
  }

  article {
    grid-area: b;
  }

  .videoWrapper {
    grid-area: a;
  }

  section {
    padding: 20px;
  }

  #nav {
    font-size: 16px;
    display: flex;
  }

  .picture {
    display: block;
  }

  #searchbar{
    display: inherit;
  }

  .team{
    display: flex;
    flex-direction:row;
    margin-bottom: 10px;

  }

  .team_pic{
    width:15%;
    margin:10px;
  }
  .team_text{
    width:100%;
    margin:10px;
  }

}

/* @media screen and (min-width: 800px) {

} */


footer{
  border-top: 1px solid black;
}
