h1 {
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

img{
  float: inherit;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
}

#container{
  width: auto;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  margin: 0;
  padding: 0;
  display: inline;
  float:left;
  width: 20%;
}

#nav a:link, #nav a:visited {
  color: #000000;
  background-color: #d7dcd9;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  padding: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d7dcd9;
}

li {
    float: left;
    position: sticky;
    display: inline-block;
}

.videoWrapper{
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.link{
  text-decoration: none;
  color:#009933;
}

/*.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px;
    border-color: #000000;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
  background: #FFFFFF;
  color: #FF0000;
}*/

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.email {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: black;
}
.photo_aside {
  position:100%

  margin: 0;
}
.footer {
  font-style: italic;
  font-size: 12px;
}

.team{
  max-width: 560px;
  display: block;

}
.team_pic{
  float:left;
  width:30%;

}

.team_text{
  float:left;
  width:70%;
}
