h1 {
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

img{
  float: inherit;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
}

h3{
  margin-top: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}


#nav {
  padding: 1px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-around;
  align-items: baseline;

}

#nav li {
  margin: 0;
  padding: 0;
  display: inline;
}

#nav a:link, #nav a:visited {
  color: #000000;
  background-color: #d7dcd9;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  padding: 2px;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d7dcd9;
    font-size: 16px;
}

li {
    position: sticky;
    display: inline-block;
}



.videoWrapper{
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link{
  text-decoration: none;
  color:#009933;
}

.email{
  color:#0C60EC;
}

/*.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px;
    border-color: #000000;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
  background: #FFFFFF;
  color: #FF0000;
}*/

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom:20px;
}

.social{
  width: 20%;
}

.photo_aside {
 width: 100%;
float:left;
}

.socialimage {
  width: 30%;
}


/*.photo_aside {
 width: 100%;
float:left;
}
.text1 {
  float:left;
  text-align: left;
  position: inherit;
  margin: 0;
}*/



.team{
  display: flex;
  flex-direction:row;
  margin-bottom: 10px;

}

.team_pic{
  width:15%;
  margin:10px;

}
.left{
  float: left;
  padding: 0 20px 20px 0;
  width: 100%;
  height: 100%;

}

.team_text{
  width:100%;
  margin:10px;
}

.usercontent{
  display: flex;
  flex-direction:row;
  padding-top: 20px;
}

.usertext{
  margin-top:10px;
  text-align: left;
}


.newsRelease img{
width: 100%
}

/* videoplayer css stuuuuff */

#video_player {
  display: table; line-height: 0;
  font-size: 0; background: #000;
  max-width: 1000px;
  margin: 0 auto;
}
#video_container {
  position: absolute;
}

#video_player div, #video_player figcaption {
  display: table-cell;
  vertical-align: top;
}
#video_container video {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
}
#video_player figcaption { width: 25%; }
#video_player figcaption a { display: block; }
#video_player figcaption a {
  opacity: .5;
  transition: 1s opacity;
}
#video_player figcaption a img, figure video {
  width: 100%; height: auto;
}
#video_player figcaption a.currentvid, #video_player
figcaption a:hover, #video_player figcaption a:focus { opacity: 1; }
/*@media (max-width: 700px) {
  #video_player video, #video_player figcaption {
    display: table-row;
  }
#video_container { padding-top: 56.25%; }
#video_player figcaption a {
  display: inline-block; width: 33.33%;
}*/

.footer {
  font-style: italic;
  font-size: 12px;
}

#container{
  width: auto;
}


#intro{
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

@media screen and (min-width: 400px) {

  #nav{
    flex-flow: row;
    justify-content: space-between;
  }

#nav a{
  border-bottom: 1px solid black;
}

#nav li:last-of-type a{
  border-bottom: none;
}

  .menu-trigger{
    order: 1;
    font-size: 1.75em;
    width: 2em;
    display: block;
    text-decoration: none;
    color:#009933;
  }

#nav{
  display: none;
}
}

#searchbar{
  display: none;
}

@media screen and (min-width: 600px) {

  #nav a{
    border-bottom: none;
  }


  .menu-trigger{
    display: none;
    font-size: 1.75em;
    width: 2em;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "a b";
  }

  article {
    grid-area: b;
  }

  .videoWrapper {
    grid-area: a;
  }

  section {
    padding: 20px;
  }

  #nav {
    font-size: 16px;
    display: flex;
  }

  .picture {
    display: block;
  }

  #searchbar{
    display: inherit;
  }

}

@media screen and (min-width: 800px) {

}
