/*styles go here*/




h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: justify;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

#container {
    width: 100%;
		border-color: #000000;
    margin: 0 auto;
	}

#nav {
    padding: 0;
}
ul {
  float: left;
}
#nav li {
  list-style-type: none;
  display: inline;
      margin: 0px;
      padding: 0px;
     float: left;
     width: 356px
}
#nav a:link, #nav a:visited  {
  display: block;
  width: 140px;
  color: #000000;
  background-color: #d7dcd9;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
  text-decoration: none;
  float: center;
}

.photo_aside {
  float: left;
  margin-left: 0;
}

*/
